[tool_probe c0]
#pin: PC5
pin: ^PC5 
tool: 0
x_offset: 0
y_offset: 27.5
z_offset: 12.15
speed: 5
samples: 1
samples_result: median
sample_retract_dist: 5
samples_tolerance: 0.075
samples_tolerance_retries: 3

#[output_pin test_pin]
#pin: PC5
#value: 0

